* {
    margin: 0;
    padding: 0;
}


/* img {
    margin-left: 400px;
    width: 60%;
} */

body {
    background-image: url("./images/smart\ watch1.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 600px;
}

.datetime {
    /* color: red; */
    /* text-align: center;
    margin-top: -400px;
    margin-left: 250px; */
    font-family: 'Segoe UI', sans-serif;
    /* margin-top: -400px; */
}

.container {
    margin: 0px;
}

.date {
    font-size: 20px;
    /* margin-right: 60px; */
    margin-top: -450px;
}

.time {
    font-size: 20px;
    /* margin-left: 450px; */
}

#icon {
    /* margin-left: 400px; */
    margin-top: 200px;
    /* color: white; */
}

#i1 {
    color: black;
}


/* .card {
    position: center;
} */